[project]
	description = git test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Xulei Liu (xuleiliu)
[access "refs/for/refs/*"]
	read = group user/Xulei Liu (xuleiliu)
	push = group user/Xulei Liu (xuleiliu)
	label-Code-Review = -2..+2 group user/Xulei Liu (xuleiliu)
	label-Verified = -1..+1 group user/Xulei Liu (xuleiliu)
	rebase = group user/Xulei Liu (xuleiliu)
	removeReviewer = group user/Xulei Liu (xuleiliu)
	submit = group user/Xulei Liu (xuleiliu)
[access "refs/heads/*"]
	read = group user/Xulei Liu (xuleiliu)
	create = group user/Xulei Liu (xuleiliu)
	push = +force group user/Xulei Liu (xuleiliu)
	pushMerge = group user/Xulei Liu (xuleiliu)
[access "refs/tags/*"]
	push = +force group user/Xulei Liu (xuleiliu)
	pushTag = group user/Xulei Liu (xuleiliu)
	pushSignedTag = group user/Xulei Liu (xuleiliu)
